#admin-header {
  text-align: center;
}

#setName {
  text-align: center;
  border-style: solid;
  margin-top: 50px;
}

.form-button {
  display: block;
}

#instructions {
  margin-bottom: 40px;
}

#controls {
  margin-top: 30px;
  margin-bottom: 30px;
}

.step-option {
  border-radius: 10px;
  margin-right: 7px;
  width: 19px;
  height: 19px;
  font-size: 11px;
}
