<h1>Admin Panel</h1>
<p>Welcome to the admin panel. Here you can easily create new courses. Simply fill the inputs.</p>

<div>
  <h4>First we need a name for your course</h4>
  <input type="text" ng-model="courseName">
  <button type="button" name="button" >Next</button>
</div>

<div>
  <h4>Good! Now to the good part.</h4>
  <p>This is where you create the steps for your course. You can add up to 15.</p>
  <h4>This is step number {{step + 1}} of your course.</h4>
  <h4>Title</h4>
  <input type="text" ng-model="data[step].title">
  <h4>Description</h4>
  <input type="text" ng-model="data[step].description">
  <h4>Video URL</h4>
  <input type="text" ng-model="data[step].video_url">
  <div class="">
    <button type="button" name="button" ng-click="addStep()">+ Add another step</button>
    <button type="button" name="button" ng-click="submit()">Done!</button>
  </div>
</div>
